@use "sass:color";
@import "./mixins";

// colors
$c-white:                         #ffffff;
$c-cultured:                      #eeeeee;
$c-lightgrey:                     #d2d7d3;
$c-mid-grey:                      #5e5e5e;
$c-dark-grey:                     #464646;
$c-black:                         #000000;
$c-pumice:                        $c-cultured;
$c-quick-silver:                  $c-mid-grey;
$c-davys-grey:                    $c-dark-grey;

$c-blue:                          #0011ff;
$c-cornflower-blue:               #8c8cff;
$c-violet-blue-crayola:           #6f76d5;
$c-slate-blue:                    #555cc5;
$c-persian-blue:                  #2838b4;

// primary color gradient
$c-primary:                     $c-blue;
$c-primary-1:                   color.adjust($c-primary, $red: 140, $green: 123);             // #8c8cff;
$c-primary-2:                   color.adjust($c-primary, $red: 111, $green: 101, $blue: -42); // $c-violet-blue-crayola: #6f76d5; ex. $c-mantis
$c-primary-3:                   color.adjust($c-primary, $red: 85, $green: 75, $blue: -58);   // $c-slate-blue: #555cc5; ex. $c-emerald
$c-primary-4:                   color.adjust($c-primary, $red: 40, $green: 39, $blue: -75);   // $c-persian-blue: #2838b4; // ex. $c-mint
// second color gradient
$c-selective-yellow:            #ffb900;
$c-orange-crayola:              #ff7730;
// tertiary color gradient
$c-electric-green:              #29ff30; // ex. $c-dodger-blue
$c-medium-spring-green:         #43fa95; // ex. $c-majorelle-blue

// viewport
$v-mobile-L: 42.5rem;           // 425px
$v-tablet: 76.8rem;             // 768px
$v-desktop: 102.4rem;           // 1024px
$v-desktop-L: 144rem;           // 1440px
$v-4k: 256rem;                  // 2560px

// sizes
$grid-width:                       $v-desktop-L;
$basesize: 0.8rem;                 // 8px
$gutter-vertical: 6rem;            // 60px
$gutter-vertical-small: 4rem;      // 40px
$gutter-horizontal: $basesize * 2; //16px 

// font size
$default-font-size: 1.6rem;        //16px